<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    {% include "includes/head.html" %}
</head>
<body>

<main>
    {% block content %}{% endblock %}
</main>

{% include "includes/footer.html" %}

</body>
</html>
