<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Redefinir Senha</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h2>Redefinir Senha</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">{{ messages[0] }}</div>
      {% endif %}
    {% endwith %}

    <form action="/reset/{{ token }}" method="POST">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <input type="password" name="password" placeholder="Nova Senha" required>
        <input type="password" name="confirm" placeholder="Confirmar Senha" required>

        <button type="submit">Alterar</button>
    </form>

    <p><a href="/login">Voltar ao Login</a></p>

</div>

</body>
</html>
