<nav class="navbar custom-navbar shadow-sm">
    <div class="container-fluid">

        <!-- Título -->
        <a href="{{ url_for('main.index') }}" class="navbar-brand mb-0 h1 fw-semibold text-dark text-decoration-none">
            Meu sistema de login
        </a>

        <div class="ms-auto"> 
            <div class="dropdown">
                Olá,
                <button class="btn btn-light border dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle me-1"></i>  {{ current_user.username }}
                </button>

                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('auth.profile') }}">
                            <i class="bi bi-gear me-2"></i> Alterar dados
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">
                            <i class="bi bi-box-arrow-right me-2"></i> Sair
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
