<!-- Modal Privacidade -->
<div class="modal fade" id="modalPrivacidade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Política de Privacidade</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Esta aplicação coleta apenas os dados necessários para seu funcionamento, tais como:</p>
        <ul>
          <li>Nome de usuário</li>
          <li>E-mail</li>
          <li>Senha (armazenada com hash seguro)</li>
        </ul>
        <p>
          Seus dados não são compartilhados com terceiros e são utilizados exclusivamente 
          para autenticação e personalização de sua experiência no sistema.
        </p>
        <p>
          Cookies técnicos podem ser utilizados para manter sua sessão ativa com segurança.
        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


