<!-- Modal Contato -->
<div class="modal fade" id="modalContato" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content shadow-lg">

      <!-- Header -->
      <div class="modal-header bg-light">
        <h5 class="modal-title">
          <i class="bi bi-envelope-paper"></i> Contato
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Email -->
        <div class="d-flex align-items-center mb-3">
          <i class="bi bi-envelope-fill text-primary fs-4 me-3"></i>
          <div>
            <strong>E-mail:</strong><br>
            <span class="text-muted">contato@gmail.com</span>
          </div>
        </div>

        <hr>
        <!-- WhatsApp -->
        <div class="d-flex align-items-center mb-3">
          <i class="bi bi-whatsapp text-success fs-4 me-3"></i>
          <div>
            <strong>WhatsApp:</strong><br>
            <span class="text-muted">(xx) x xxxx-xxxx</span>
          </div>
        </div>

      </div>

      <!-- Footer -->
      <div class="modal-footer bg-light">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i> Fechar
        </button>
      </div>

    </div>
  </div>
</div>
