{% extends "layouts/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
</style>


<div class="d-flex">

    <!-- CONTEÚDO PRINCIPAL -->
    <div id="content">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-dark">O que esse sistema faz?</h2>
        </div>

        <div class="card shadow-sm p-4">
            <h4>Já possui:</h4>
            <p class="text-muted mb-0">
                <li> Cadastro de usuário;</li>
                <li> Validação de segurança;</li>
                <li> Proteção de url; </li>
                <li> Alteração de dados de usuário logado; </li>
                <li> Verificação de e-mail repedito; </li>
            </p>
            <h4>O que falta:</h4>
            <p class="text-muted mb-0">
                <li> Recuperar senha; </li>
                <li> Níveis de acesso; </li>
            </p>

        </div>

    </div>

</div>

{% endblock %}
