{% extends "layouts/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="d-flex">

    <!-- CONTEÚDO PRINCIPAL -->
    <div id="content" style="flex: 1; padding: 2rem;">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-dark">O que esse sistema faz?</h2>
        </div>

        <div class="card shadow-sm p-4">
            <h4>Já possui:</h4>
            <ul class="text-muted mb-3">
                <li>Cadastro de usuário</li>
                <li>Validação de segurança</li>
                <li>Proteção de URL</li>
                <li>Alteração de dados de usuário logado</li>
                <li>Verificação de e-mail repetido</li>
            </ul>

            <h4>O que falta:</h4>
            <ul class="text-muted mb-3">
                <li> Deslogar depois de um determinado tempo sem atividade; </li>
                <li> Expiração automática de sessão (configuração de 30 min)</li>
                <li> Recuperar senha; </li>
                <li> Níveis de acesso; </li>
            </ul>

        </div>

    </div>

</div>

{% endblock %}
