<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Bem-vindo</title>
    <link rel="icon" href="../../static/favicon.ico">
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>

    <div class="container">

        <h1>Bem-vindo, {{ user }} 👋</h1>
        <p>Você está autenticado com sucesso.</p>

        <div class="actions">

        <ul>
            <li><a href="#">Alterar nome de usuário</a></li>
            <li><a href="#">Alterar e-mail</a></li>
            <li><a href="#">Trocar senha</a></li>
        </ul>

            
            <form action="/logout" method="POST" style="display:inline;">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <button class="button danger">🚪 Sair</button>
            </form>

        </div>
    </div>

</body>
</html>
